# ==============================
# ENV FILES (VERY IMPORTANT 🔥)
# ==============================
.env

# ==============================
# NODE MODULES
# ==============================
node_modules/

# ==============================
# LOG FILES
# ==============================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==============================
# OS FILES
# ==============================
.DS_Store
Thumbs.db

# ==============================
# BUILD FILES
# ==============================
dist/
build/

# ==============================
# UPLOADS (KYC images 🔐)
# ==============================
backend/uploads/

# ==============================
# EXPO / REACT NATIVE
# ==============================
frontend/.expo/
frontend/android/
frontend/ios/

# ==============================
# CACHE
# ==============================
.cache/